@use '../custom' as *;

.contact{
	margin-top: 13rem;
	h1 {
     text-align: center;
     margin-bottom: 1rem;
     font-weight: 900;
     filter: drop-shadow(0.20em 0.30em 0.2em);
     font-size: 4rem;
     color: #17223e;
     font-family: alvinastaleeq;


     @include media-breakpoint-only(md) {
     	margin-top: -2rem;
     }
      @media (min-width: 768px) and (max-width: 991px) { 
            margin-top: 1rem;
        }
     @include media-breakpoint-down(sm) {
     	margin-top: -5.5rem;
     }
	}
	.map {
    iframe {
    	@include media-breakpoint-up(lg) {
    		width: 70rem;
    		height: 25rem;
    		border-radius: 1rem;
    	}
         @media (min-width: 1400px) and (max-width: 2695px) { 
            width: 100%;
        }
         @media (min-width: 992px) and (max-width: 1199px) { 
            width: 100%;
        }
    	@include media-breakpoint-only(md) {
    		margin-left: 1.5rem;
    		width: 40rem;
    		border-radius: 1rem;
    	}
        
        @media (min-width: 576px) and (max-width: 767px) { 
            width: 100%;
        }

    	@include media-breakpoint-down(sm) {
    	margin-left: 0.3rem; 
      width: 19rem;
      height: 17rem; 
      border-radius: 0.5rem;
    }
    @media (min-width: 340px) and (max-width: 575px) { 
             width: 100%;
        } 
    }
	}
}
address {
    margin-top: 2rem;
    h1 {
        text-align: right;
        font-size: 3.5rem;
     font-family: alvinastaleeq;

         color: #17223e;
     filter: drop-shadow(0.20em 0.30em 0.2em);
    }
    p {
        margin-top: 2rem;
        text-align: right;
     font-family: alvinastaleeq;


    }
    .contact-details {
        text-align: right;
        ul li {
     font-family: alvinastaleeq;


            list-style-type:  none;
            span {
                margin-right: 2rem;
     font-family: alvinastaleeq;


            }
        }
    }
}