@use '../custom' as *;

.course-page {
	margin-top: 14rem;

	h1 {
		font-size: 2rem;
		margin-bottom: 2rem;
		line-height: 2rem;
		color: #17223e;
		font-weight: 700;
    filter: drop-shadow(0.20em 0.30em 0.2em);
     font-family: alvinastaleeq;


		@include media-breakpoint-only(md) {
			font-size: 1.5rem;
			margin-bottom: 2.5rem;
			line-height: 3rem;
		color: #17223e;
	    
    filter: drop-shadow(0.20em 0.30em 0.2em);
     font-family: alvinastaleeq;



		}
		@include media-breakpoint-down(sm) {
			font-size: 1.3rem;
			margin-bottom: 3rem;
			margin-top: -4.5rem;
		color: #17223e;
		

    filter: drop-shadow(0.20em 0.30em 0.2em);
     font-family: alvinastaleeq;


		}
	}

	.details {
			@include media-breakpoint-down(sm) {
	    margin-left: -10rem;
		}
			h1 {
       font-size: 2.2rem;
     font-family: alvinastaleeq;

     margin-top: 1rem;
     margin-bottom: 2rem;
		color: #17223e;
		



			@include media-breakpoint-only(md) {
			font-weight: 900;
     font-family: alvinastaleeq;

		color: #17223e;
		
     
			font-size: 2.2rem;
    }
			@include media-breakpoint-down(sm) {
			font-weight: 600;
			font-size: 1.4rem;
			margin-bottom: 1rem;
			margin-top: -2rem;
     font-family: alvinastaleeq;

		color: #17223e;
		
    

    }
		}
		h2 {
			  font-size: 1.5rem;
     font-family: alvinastaleeq;

     color: black;
     margin-bottom: 1rem;
     
				@include media-breakpoint-only(md) {
				font-size: 1.5rem;
     font-family: alvinastaleeq;


    }
    	@include media-breakpoint-down(sm) {
				font-size: 0.9rem;
				font-weight: bold;
				margin-top: 0.5rem;
     font-family: alvinastaleeq;


			}
	}
	img {
		@include media-breakpoint-up(lg)  {
		margin-left: 20rem; 	
	}
	}
	}
	.details-1 {
		@include media-breakpoint-down(sm) {
	   margin-top: -12.4rem;
		}
		h1 {
			font-size: 2.2rem;
     font-family: alvinastaleeq;

     margin-top: 1rem;
     margin-bottom: 2rem;
		color: #17223e;


			@include media-breakpoint-only(md) {
				font-weight: 900;
				font-size: 2rem;
    }
			@include media-breakpoint-down(sm) {
				font-weight: 900;
				font-size: 1.4rem;
				margin-bottom: 1rem;
				margin-top: -6rem;

		}
		}
		h2 {
		    font-size: 1.5rem;
     font-family: alvinastaleeq;

    margin-bottom: 1rem;
    color: black;
				@include media-breakpoint-only(md) {
				font-size: 1.5rem;
    }

			@include media-breakpoint-down(sm) {
				font-size: 0.9rem;
				font-weight: bold;
				margin-top: 0.5rem;
			}
		}
	}
	img {
		@include media-breakpoint-up(lg)  {
		margin-left: 20rem; 	
	}
	@include media-breakpoint-only(md)  {
		margin-left: 7rem; 	
	}
	@include media-breakpoint-down(sm)  {
		margin-left: 10rem; 
		width: 10rem;	
	}
	}
 .description {
 	h1 {
 		@include media-breakpoint-up(lg) {
 			font-size: 2.8rem;
 			margin-top: 3rem;
 			margin-bottom: 6rem;
     font-family: alvinastaleeq;


 		}
 		@include media-breakpoint-only(md) {
 			font-size: 2.7rem;
 			margin-top: 4rem;
 			margin-bottom: 4rem;
     font-family: alvinastaleeq;


 		}
 		@include media-breakpoint-down(sm) {
 			font-size: 1.8rem;
 			margin-top: 2rem;
 			margin-bottom: 4rem;
     font-family: alvinastaleeq;


 		}

 	}
 	h3 {
 		@include media-breakpoint-up(lg) {
 		 	margin-right: 6rem;
 			font-size: 2.3rem;
 			font-weight: 600;
 			margin-top: -4rem;
 			margin-bottom: 2rem;
     font-family: alvinastaleeq;


 		}
 		@include media-breakpoint-only(md) {
 			margin-top: -2rem;
 			margin-bottom: 2rem;
 			margin-right: 6rem;
 			font-size: 1.9rem;
 			font-weight: 900;
     font-family: alvinastaleeq;


 		}
 		@include media-breakpoint-down(sm) {
 			margin-top: -3rem;
 			margin-right: 2rem;
 			margin-bottom: 2rem;
 			font-size: 1.2rem;
 			font-weight: 600;
     font-family: alvinastaleeq;


 		}
 	}
 	h4 {
 		font-weight: lighter;
 		color: black;
 		@include media-breakpoint-up(lg) {
 			margin-right: 8rem;
     font-family: alvinastaleeq;

     font-size: 1.6rem;
     margin-bottom: 1rem;
     color: black;
     font-weight: lighter;

 		}
 		@include media-breakpoint-only(md) {
 			margin-right: 8rem;
 			font-weight: lighter;
 			margin-bottom: 1.5rem;
 			font-size: 1.2rem;
 			color: black;
     font-family: alvinastaleeq;


 		}
 		@include media-breakpoint-down(sm) {
 			margin-right: 3rem;
 			font-weight: lighter;
 			font-size: 0.9rem;
 			line-height: 1.5rem;
 			color: black;
     font-family: alvinastaleeq;


 		}
 	}
 	h5 {
     font-family: alvinastaleeq;

 		 line-height: 2.3rem;
     font-size: 2rem;
     margin-bottom: 2rem;

     @include media-breakpoint-down(sm) {
     	font-size: 1.2rem;
     font-family: alvinastaleeq;


     }
 	}
 }
}