@use '../custom' as *;
@use '../components/mixins' as *;


.footer-1 {
	margin-top: 15rem;
	 @include media-breakpoint-down(md) {
	 	width: 100%;
	   }
	 @include media-breakpoint-only(md) {
	 	width: 100%;
	   }
	@include media-breakpoint-down(sm) {
		display: none;
	}
.image {
	text-align: right;
     font-family: alvinastaleeq;

	h1 {
     font-size: 2.5rem;
	}
	h3 {
   margin-top: 1rem;
   font-size: 2rem;
   font-weight: bold;
   a {
   	text-decoration: none;
   }
	}
	h4 {

	}
}
.contact {
     font-family: alvinastaleeq;
	text-align: right;
margin-top: 1rem;
		h2 {
    font-size: 2.5rem;
	}
	h3 {
      margin-bottom: 2rem;
	}
	ul {
		font-size: 2rem;
 		li {
       list-style-type: none;
       span {
       	font-size: 1.5rem;
       	margin-right: 1rem;
       	font-weight: bold;
       }
		}
	}
}
.items {
     font-family: alvinastaleeq;
	text-align: right;
margin-top: 0.5rem;

	h1 {
     font-size: 2.5rem;
		color: #17223e;

	}
	ul {
		li {
       list-style-type: none;
       a {
       	text-decoration: none;
       	font-size: 1.5rem;
       	&:hover {
       		text-decoration: underline;
       	}
       }
		}
	}
}
	.copyrights {
	margin-top: 10rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,24,51,1) 35%, rgba(0,212,255,1) 100%);

}

}
	



.footer-2 {

	@include media-breakpoint-up(md) {
		display: none;
	}

  @include media-breakpoint-down(md) {
		display: none;
	}
	@include media-breakpoint-down(sm) {
		display: block;

	   }
  
	padding-top: 1rem;
	margin-top: 5rem;
	background-color: $footer;
	text-align: right;

.number {
	margin-bottom: 2rem;
	h1 {
		color: white;
		font-size: 1rem;
	}
	h2 {
		color: $gray-600;
    font-size: 1rem;
	}
}
.Email {
	margin-bottom: 2rem;
	h1 {
		color: white;
		font-size: 1rem;
	}
	h2 {
		color: $gray-600;
    font-size: 1rem;
	}
}

}

.footer-sm {
	a {
		color: white;
		i {
			font-size: 2rem;
			margin-left: 1rem;
		}
      &:hover {
    	color: $primary;
    	text-decoration: underline;;
    }
  }
}

.company-list {
	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

}
.company-list-1 h5, {
	float: left;
	margin-top: -10.3rem;
	margin-left: 3.5rem;
}
.company-list-2 {
	float: left;
	margin-top: -8.5rem;
}
.footer-bottom {
	background-color: black;
	&__copyright {
		font-weight: 400;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.back-to-top {
	position: fixed;
	bottom: 1.875rem;
	width: 4rem;
	height: 4rem;
	z-index: 9999;
	background-color:  #0b0a2a;
	@include media-breakpoint-down(sm) {
	}
	i {
		color: white;
		font-size: 2rem;
		@include absolutecenter;

	}
}


