@use '../custom' as *;

.accordion-button {
  	h6 {
      @include media-breakpoint-up(lg) {
	     margin-left: 22rem;
	     text-align: right;	
	     margin-top: 1rem;
       font-size: 1.8rem;
     font-family: alvinastaleeq;



      }
       @include media-breakpoint-only(md) {
	    text-align: right;
	    margin-left: 2.4rem;
      font-size: 1.5rem;
     font-family: alvinastaleeq;

	    }
       @media (min-width: 1400px) and (max-width: 4252px) {
       margin-left: 33rem;
       }
      @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 1.3rem;
      }

      @media (min-width: 576px) and (max-width: 767px) {
      text-align: right;
      font-size: 1.1rem;
      margin-left: 1rem;
     font-family: alvinastaleeq;

    }

	    @include media-breakpoint-down(sm) {
	    	text-align: right;
     font-family: alvinastaleeq;

        font-size: 1rem;
        line-height: 1.5rem;
        margin-right: 0.5rem;
	    } 

		
  }
  h5 {
      @include media-breakpoint-up(lg) {
	     margin-left: 25rem;
	     text-align: right;	
	     margin-top: 1rem;
     font-family: alvinastaleeq;

       font-size: 1.8rem;

      }
       @include media-breakpoint-only(md) {
	    text-align: right;
     font-family: alvinastaleeq;

  	  font-size: 1.5rem;
  	  margin-left: 4.5rem;
	    }
	   
	    @include media-breakpoint-down(sm) {
	    	text-align: right;
     font-family: alvinastaleeq;

        font-size: 1rem;
        line-height: 1.5rem;
        margin-right: 0.5rem;
	    }
       @media (min-width: 1400px) and (max-width: 4252px) {
       margin-left: 36rem;
       } 
       @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 1.3rem;
      }
      @media (min-width: 576px) and (max-width: 767px) {
      text-align: right;
      font-size: 1.1rem;
      margin-left: 2.5rem;
     font-family: alvinastaleeq;

    }
    }
     h4 {
      @include media-breakpoint-up(lg) {
	     margin-left: 14.5rem;
	     text-align: right;	
	     margin-top: 1rem;
     font-family: alvinastaleeq;

  	   font-size: 1.8rem;


      }
       @include media-breakpoint-only(md) {
	    text-align: right;
     font-family: alvinastaleeq;

  	  font-size: 1.4rem;
      margin-right: 0.5rem;
      line-height: 2rem;  
	    }
       @media (min-width: 1400px) and (max-width: 4252px) {
       margin-left: 25rem;
       }
       @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 1.3rem;
      margin-left: 17rem;
      }
      @media (min-width: 576px) and (max-width: 767px) {
      text-align: right;
      font-size: 1rem;
      margin-left: -0.5rem;
     font-family: alvinastaleeq;

    }
	   
	    @include media-breakpoint-down(sm) {
	    	text-align: right;
     font-family: alvinastaleeq;

        font-size: 1rem;
        line-height: 1.5rem;
        margin-right: 0.5rem;
	    } 
    }


		
}
